# --- MinIO (Bronze/Silver) ---
MINIO_ROOT_USER=CHANGE_ME_minio_user
MINIO_ROOT_PASSWORD=CHANGE_ME_minio_password

# --- Postgres analítico (Gold/Operational) ---
DW_POSTGRES_USER=CHANGE_ME_dw_user
DW_POSTGRES_PASSWORD=CHANGE_ME_dw_password

# --- Postgres de metadata de Airflow ---
AIRFLOW_DB_USER=CHANGE_ME_airflow_db_user
AIRFLOW_DB_PASSWORD=CHANGE_ME_airflow_db_password

# --- Usuario admin de la UI de Airflow ---
AIRFLOW_ADMIN_USER=CHANGE_ME_airflow_admin
AIRFLOW_ADMIN_PASSWORD=CHANGE_ME_airflow_admin_password